.priority-5 {
  background-color: rgb(255, 166, 0);
}

.priority-4 {
  background-color: yellow;
}

.priority-3 {
  background-color: rgba(0, 128, 0, 0.733);
}

.priority-2 {
  background-color: rgba(0, 0, 255, 0.551);
}

.priority-1 {
  background-color: rgba(255, 0, 0, 0.847);
}

.ticket {
  padding: 10px;
  margin: 10px 0;
  border-radius: 5px;
  color: rgb(0, 0, 0);
  list-style: none;
  width: 95%;
  text-align: center;
  display: flex;
  justify-content: center;
}

h2{
  text-align: center;
}
p{
  padding-right: 20px;
}

.login{
  text-align: center;
}

.userside{
  text-align: center;
}

.textarea{
  width: 50vw;
}

.txtareaclsbtn{
  display: flex;
  gap: 20px;
}

.adminside{
  background-color: rgb(212, 235, 242);
  width: auto;

}