body {
    font-family: Arial;
    margin: 0;
    padding: 0;
    background-color: #543902;
}

header {
    background: #a36e02;
    color: white;
    padding: 10px;
    text-align: center;
    margin: 40px;
    border-radius: 10px;
}

header input, header button {
    margin: 15px;
    padding: 15px;
    width: 15%;
    border-radius: 5px;
    font-size: 20px;
}

header button {
    background-color: #573a01;
    color: #fff;
}
header button:hover {
    background-color: #c18205;
}

main {
    padding: 20px;
    display: flex;
    flex-wrap: wrap;
}

.card {
    height: 25%;
    width: 25%;
    background: #be8003;
    border-radius: 5px;
    padding: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin: 5px;
}