body{
    margin: 0;   
    font-family: Arial;
}

header{
    background-color: darkorchid;
    color: rgb(205, 173, 221);
    font-weight: bolder;
    padding: 15px;
}

main{
    background-color: rgb(34, 139, 244);
    display: flex;
}

.left{
    color: white;
    list-style: none;
    margin: 15px;
    padding: 0;
}

li{
    background-color: rgb(1, 88, 7);
    width: 300px;
    margin-bottom: 5px;
    padding: 7px;
}


.middle{
    padding: 10px;
    text-align: left;
}


.right{
    margin: 15px;
    background-color: rgb(1, 88, 7);
    width: 60%;
    color: white;
    text-align: center;
    padding: 25px;
    font-weight: lighter;
}